@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'EB Garamond', Garamond, serif !important;
}

b, strong{
  font-weight: 700 !important; 
}