name: deploy-book

on:
  push:
    branches:
      - main

# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:

  deploy-book:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true
        python-version: "3.12" 
    - name: Install dependencies
      run: uv sync
    - name: Build the book
      run: |
        cd student-housing-book
        jupyter-book build
        
    - name: Deploy Jupyter book to GitHub pages
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: student-housing-book/_build/html
        force_orphan: true